<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorator="admin/template"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>User List</title>
<meta id="menu-active" name="menu-active"
	content="#dashboard-menu > li:eq(1), #dashboard-menu > li:eq(1) > ul:eq(0), #dashboard-menu > li:eq(1) > ul:eq(0) > li:eq(0) > a" />
<meta id="menu-arrow" name="menu-arrow"
	content="#dashboard-menu > li:eq(1)" />
</head>
<body>

	<!-- main container -->
	<div layout:fragment="content" class="row">
		<div class="col-md-12">
			<div>user list</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>No</th>
								<th>Id</th>
								<th>Name</th>
								<th>Edit Profile</th>
								<th>Edit Role</th>
								<th>Change Password</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="row,rowStat : ${userList}">
								<td th:text="${rowStat.count}">1</td>
								<td th:text="${row.id}">Thymus Thymi</td>
								<td th:text="${row.name}">Thymus Thymi</td>
								<td><a href="#">Edit Profile</a></td>
								<td><a href="#">Edit Role</a></td>
								<td><a href="#">Change Password</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- scripts -->
	<script th:src="#{url.jquery.js}"
		src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script th:src="#{url.bootstrap.js}"
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
	<script th:src="#{url.jqueryui.js}"
		src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script th:src="@{/resources/admin/theme/js/theme.js}"></script>
</body>
</html>