<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="admin/template">
<head>
<title th:text="A Title">Detail Admin - Home</title>
<meta id="menu-active" name="menu-active"
	content="#dashboard-menu > li:eq(0)" />
<meta id="menu-arrow" name="menu-arrow"
	content="#dashboard-menu > li:eq(0)" />
</head>
<body>
	<section layout:fragment="content">
		<p>Welcome message - Admin Index</p>
	</section>
</body>
</html>